/* Yerel değişken yüzler — üçüncü taraf font isteği yok.
   Kaynak: Google Fonts, SIL Open Font License 1.1.
     Archivo      — Omnibus-Type              (wdth 62–125, wght 400–900)
     EB Garamond  — Georg Duffner, Octavio Pardo (wght 400–700)
     Azeret Mono  — Displaay Type Foundry     (wght 400–600)
   Sitede fiilen kullanılan karakter kümesine indirgenmiştir; eksenler korundu. */

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400 900;
  font-stretch: 62% 125%;
  font-display: swap;
  src: url('/assets/fonts/archivo-var.woff2') format('woff2-variations'),
       url('/assets/fonts/archivo-var.woff2') format('woff2');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/assets/fonts/ebgaramond-var.woff2') format('woff2-variations'),
       url('/assets/fonts/ebgaramond-var.woff2') format('woff2');
}

@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url('/assets/fonts/azeretmono-var.woff2') format('woff2-variations'),
       url('/assets/fonts/azeretmono-var.woff2') format('woff2');
}
